body {
			font-family: "Segoe UI", Arial, sans-serif;
  			color: #444444;
			background: linear-gradient(to bottom, #f2f2f2, #cccccc);
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
		}

		h2 {
			color: #222222;
		}

		/* Assign full width inputs */
		input[type=text],
		input[type=password] {
			width: 100%;
			padding: 12px 40px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}

		/* Set a style for the buttons */
		button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0px;
			border: none;
			cursor: pointer;
			width: 100%;
		}

		/* Set a hover effect for the button */
		button:hover {
			opacity: 0.8;
		}

		/* Set extra style for the cancel button */
		.container {
			background-color: #f8f8f8;
			width: 60%;
			/* padding: 16px; */
			display: flex;
			background-color: white;
			border-radius: 5px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		}

		.form-container {
			flex: 1;
			margin-left: 80px;
			margin-bottom: 20px;
		}
		.form-container .inside-container {
			flex: 1;
			margin-right: 120px;
		}

		.image-container {
			flex: 1;
			/* padding-left: 20px; */
			/* margin-left: 180px; */
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.image-container img {
			/* max-width: 100%;
			max-height: 100%; */
			object-fit: cover;
			width: 100%;
  			height: 100%;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		.fontuser {
			position: relative;
		}

		.fontuser i {
			position: absolute;
			left: 15px;
			top: 40px;
			color: gray;
		}

		.fontpassword {
			position: relative;
		}

		.fontpassword i {
			position: absolute;
			left: 15px;
			top: 40px;
			color: gray;
		}

		.form-container .google-buttons {
			margin-top: 5px;
			margin-right: 120px;
			display: flex;
			justify-content: space-between;
		}

		.form-container .google-buttons button {
			background-color: #DB4437;
			border-radius: 5px;
		}

		.form-container .google-buttons button i {
			margin-right: 5px;
		}

		.form-container .facebook-buttons {
			margin-top: 5px;
			margin-right: 120px;
			display: flex;
			justify-content: space-between;
		}

		.form-container .facebook-buttons button {
			background-color: #4267B2;
			border-radius: 5px;
		}

		.form-container .facebook-buttons button i {
			margin-right: 5px;
		}

		.form-container .twitter-buttons {
			margin-top: 5px;
			margin-right: 120px;
			display: flex;
			justify-content: space-between;
		}

		.form-container .twitter-buttons button {
			background-color: #1DA1F2;
			border-radius: 5px;
		}

		.form-container .twitter-buttons button i {
			margin-right: 5px;
		}

		.form-container .register-forgot {
			margin-top: 20px;
			text-align: center;
		}

		.form-container .register-forgot a {
			/* color: #4CAF50; */
			color: #666666;
			text-decoration: none;
			margin-right: 20px;
			margin-left: 20px;
			font-size: small;
		}

		.divider {
			flex: 1;
			border-top: 1px solid #ccc;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-right: 120px;
		}

		.remember-login-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		.remember-me-container {
			display: flex;
			align-items: center;
		}

		.remember-me-container label {
			margin-left: 5px;
			font-size: small;
		}

		.login-button-container {
			margin-left: 10px;
		}

		.login-button-container button {
			width: 150px; 
			padding: 16px 20px; 
			border-radius: 5px;
		}

		.register-button-container button {
			width: 100%; 
			padding: 16px 16px; 
			border-radius: 5px;
		}